<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Smart Claim&#174;
        </label>
        <div class="login-group">
            <div class="auth-source select">
                <select name="fiscalYear" [(ngModel)]="fiscalYear">
                    <option value="2016">ปีงบประมาณ 2559</option>
                    <option value="2017">ปีงบประมาณ 2560</option>
                    <option value="2018">ปีงบประมาณ 2561</option>
                </select>
            </div>
            <input (keypress)="enterLogin($event)" class="username" [(ngModel)]="username" type="text" name="login_username" placeholder="Username">
            <input (keypress)="enterLogin($event)" class="password" [(ngModel)]="password" type="password" name="login_password" placeholder="Password">
            <div style="text-align: center" *ngIf="isLogging">
                <span class="spinner spinner-inline">
                  Loading...
              </span>
                <span>
                  Logging in...
              </span>
            </div>
            <button type="button" (click)="doLogin()" class="btn btn-primary" [disabled]="!username || !password || !fiscalYear || isLogging">LOG IN</button>
        </div>
    </form>
</div>
