<nav class="breadcrumb">
  <span class="breadcrumb-item">Dashboard</span>
  <span class="breadcrumb-item active">สรุปยอดส่งเบิก</span>
</nav>

<clr-tabs>
  <clr-tab-link [clrTabLinkId]="'link1'" [clrTabLinkActive]="true">สิทธิ์ UCS/WEL</clr-tab-link>
  <clr-tab-link>สิทธิ์ OFC</clr-tab-link>
  <!--<clr-tab-link>สิทธิ์ SSS</clr-tab-link>-->

  <clr-tab-content [clrTabContentId]="'content1'" [clrTabContentActive]="true">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            ยอดรายการส่งเคลม/ค้างส่งผู้ป่วยใน (IPD)
          </div>
          <div class="card-block">
            <div class="progress top loop" *ngIf="isLoading"><progress></progress></div>
            <div class="card-text">
              <div style="text-align: center;">
                <chart [options]="optionsUCSIpdSend"></chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            ยอดรายการส่งเคลม/ค้างส่ง ผู้ป่วยนอก (OPD)
          </div>
          <div class="card-block">
            <div class="progress top loop" *ngIf="isLoading"><progress></progress></div>
            <div class="card-text">
              <div style="text-align: center;">
                <chart [options]="optionsUCSOpdSend"></chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            สรุปสถิติการเรียกเก็บสิทธิ์ UCS/WEL แผนกผู้ป่วยใน
          </div>
          <div class="card-block">
            <div class="progress top loop" *ngIf="isLoading"><progress></progress></div>
            <div class="card-text">
              <chart [options]="optionsUCSIpd"></chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            สรุปสถิติการเรียกเก็บสิทธิ์ UCS/WEL แผนกผู้ป่วยนอก
          </div>
          <div class="card-block">
            <div class="progress top loop" *ngIf="isLoading"><progress></progress></div>
            <div class="card-text">
              <chart [options]="optionsUCSOpd"></chart>
            </div>
          </div>
        </div>
      </div>
    </div>

  </clr-tab-content>
  <clr-tab-content>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            ยอดรายการส่งเคลม/ค้างส่งผู้ป่วยใน (IPD)
          </div>
          <div class="card-block">
            <div class="progress top loop" *ngIf="isLoading"><progress></progress></div>
            <div class="card-text">
              <div style="text-align: center;">
                <chart [options]="optionsOFCIpdSend"></chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            ยอดรายการส่งเคลม/ค้างส่ง ผู้ป่วยนอก (OPD)
          </div>
          <div class="card-block">
            <div class="progress top loop" *ngIf="isLoading"><progress></progress></div>
            <div class="card-text">
              <div style="text-align: center;">
                <chart [options]="optionsOFCOpdSend"></chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            สรุปสถิติการเรียกเก็บสิทธิ์ OFC แผนกผู้ป่วยใน
          </div>
          <div class="card-block">
            <div class="progress top loop" *ngIf="isLoading"><progress></progress></div>
            <div class="card-text">
              <chart [options]="optionsOFCIpd"></chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            สรุปสถิติการเรียกเก็บสิทธิ์ OFC แผนกผู้ป่วยนอก
          </div>
          <div class="card-block">
            <div class="progress top loop" *ngIf="isLoading"><progress></progress></div>
            <div class="card-text">
              <chart [options]="optionsOFCOpd"></chart>
            </div>
          </div>
        </div>
      </div>
    </div>

  </clr-tab-content>
  <clr-tab-content>
    <p>Content for Cloud tab.</p>
  </clr-tab-content>
</clr-tabs>
